body,* {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: black;
}

.item {
    padding: 10px;
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
}